html {
    color: White;
    background-color: rgb(23, 25, 33);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgb(23, 25, 33);
}

tbody {
    border: 1px;
    border-collapse: collapse;
}

td {
    margin-right: 5px;
}

progress {
    margin: auto 1px;
    width: 90%;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    border-radius: 10px;
    background-color: White;
}

progress::-webkit-progress-value {
    border-radius: 10px;
    background-color: HotPink;
}

progress::-moz-progress-bar {
    border-radius: 10px;
    background-color: HotPink;
}

a:link {
    color: HotPink;
    text-decoration: none;
}

a:visited {
    color: HotPink;
    text-decoration: none;
}

a:hover {
    color: LightPink;
    text-decoration: none;
}

a:active {
    color: WhiteSmoke;
    text-decoration: none;
}

.generic-center {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.center {
    text-align: center;
}

.generic-center-100-width {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.button {
    color: White;
    margin: 4px 2px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 6px;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    background-color: rgb(50, 30, 58);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    transition: 0.1s;
    background-color: rgb(60, 40, 68);
}

button {
    color: White;
    margin: 4px 2px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 6px;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    background-color: rgb(50, 30, 58);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button:hover {
    transition: 0.1s;
    background-color: rgb(60, 40, 68);
}

.table-center {
    margin: 10px auto;
    text-align: left;
}

body {
    width: 90%;
    display: block;
    margin-right: auto;
    background-color: rgb(23, 25, 33);
    margin-left: auto;
}

h1, h2 {
    text-decoration: underline;
    text-align: center;
}

h3, h4, h5, h6, p, summary, time {
    text-align: center;
}

img {
    margin: 10px;
    width: 50%;
    border-radius: 10px;
    max-width: 700px;
}