html {
    color: #e8e6e3;
    background-color: rgb(23, 25, 33);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 10px;
}

article > p {
    padding: 10px;
    text-align: left;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgb(23, 25, 33);
}

tbody {
    border: 1px;
    border-collapse: collapse;
}

td {
    margin-right: 5px;
}

progress {
    margin: auto 1px;
    width: 90%;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    border-radius: 10px;
    background-color: #e8e6e3;
}

progress::-webkit-progress-value {
    border-radius: 10px;
    background-color: HotPink;
}

progress::-moz-progress-bar {
    border-radius: 10px;
    background-color: HotPink;
}

q {
    font-style: italic;
}

time {
    font-weight: bold;
    font-style: italic;
}

fieldset {
    border-color: #e8e6e3;
    min-width: 100px;
    justify-self: center;
    flex-basis: max-content;
    border-radius: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    border-width: 2.5px;
}

fieldset > legend {
    text-decoration: underline;
}

fieldset > p {
    margin-bottom: 2px;
    margin-top: 2px;
}

ul {
    padding-left: 20px;
}

a:link {
    color: HotPink;
    text-decoration: none;
}

a:visited {
    color: HotPink;
    text-decoration: none;
}

a:hover {
    color: LightPink;
    text-decoration: none;
}

a:active {
    color: MistyRose;
    text-decoration: none;
}

.generic-center {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.center {
    text-align: center;
}

.generic-center-100-width {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.button {
    color: #e8e6e3;
    margin: 4px 2px;
    font-size: 1.2em;
    transition: 0.3s;
    border-radius: 6px;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    background-color: rgba(255, 100, 255, 0.1);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    transition: 0.1s;
    background-color: rgba(255, 100, 255, 0.2);
}

button {
    color: #e8e6e3;
    margin: 4px 2px;
    font-size: 1.2em;
    transition: 0.3s;
    border-radius: 6px;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    background-color: rgba(255, 100, 255, 0.1);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button:hover {
    transition: 0.1s;
    background-color: rgba(255, 100, 255, 0.2);
}

.table-center {
    margin: 10px auto;
    text-align: left;
}

icon-display {
    margin: auto;
    width: 50%;
    max-width: 500px;
}

.flex-container {
    justify-content: center;
    display: flex;
    align-items: normal;
    flex-wrap: wrap;
}

.flex-contained-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.flex-element {
    background: #23252c;
    margin: 5px 5px;
    min-width: 300px;
    width: 30%;
    border-radius: 10px;
    display: inline-block;
    max-width: 500px;
    padding: 10px;
}

.author-div {
    flex-basis: auto;
    justify-content: left;
    border-radius: 900px;
    max-width: 350px;
    display: flex;
    margin-right: auto;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    background-color: #23252c;
    margin-left: auto;
    margin-top: 10px;
    flex: content;
}

.author-picture {
    align-self: center;
    min-width: 32px;
    border-radius: 100px;
    max-width: 48px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    flex: content;
}

.author-name-div {
    color: Gainsboro;
    align-self: center;
    width: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    flex: content;
}

.content-box {
    margin: 10px auto;
    width: 100%;
    border-radius: 20px;
    max-width: 1000px;
    padding: 5px;
    background-color: #23252c;
}

.map-element {
    display: inline;
    outline-color: LightPink;
}

.div-outer {
    position: absolute;
    width: 100%;
    left: 0;
    display: table;
    top: 77px;
    height: calc(100vh - 72px - 45px - 10px);
}

.div-middle {
    vertical-align: middle;
    display: table-cell;
}

.div-inner {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.top-page-header {
    position: fixed;
    margin: auto;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 72px;
    background-color: #23252c;
    text-align: center;
}

.bottom-page-footer {
    position: fixed;
    margin: auto;
    width: 100%;
    left: 0px;
    bottom: -10px;
    height: 55px;
    background-color: #23252c;
    text-align: center;
}

.news-div-class {
    width: 75%;
    display: block;
    margin-right: auto;
    padding: 10px;
    margin-left: auto;
}

.newsfeed-element-generic {
    border-color: #e8e6e3;
    border-radius: 20px;
    margin-bottom: 10px;
    border-style: solid;
    margin-top: 10px;
    border-width: 5px;
}

.newsfeed-element-holiday {
    border-color: CornflowerBlue;
    border-radius: 20px;
    margin-bottom: 10px;
    border-style: solid;
    margin-top: 10px;
    border-width: 5px;
}

.newsfeed-element-warning {
    border-color: Gold;
    border-radius: 20px;
    margin-bottom: 10px;
    border-style: solid;
    margin-top: 10px;
    border-width: 5px;
}

.newsfeed-element-alert {
    border-color: Tomato;
    border-radius: 20px;
    margin-bottom: 10px;
    border-style: solid;
    margin-top: 10px;
    border-width: 5px;
}

.newsfeed-element-happened {
    border-color: Grey;
    border-radius: 20px;
    margin-bottom: 10px;
    border-style: solid;
    margin-top: 10px;
    border-width: 5px;
}

.article-preview {
    border-color: #e8e6e3;
    padding: 10px;
    border-style: solid;
    text-align: center;
    flex: content;
}

.article-preview-box {
    width: 75%;
    justify-content: center;
    display: flex;
    margin-right: auto;
    flex-wrap: wrap;
    margin-left: auto;
    justify-items: stretch;
}

h1, h2 {
    margin-bottom: 0px;
    text-decoration: underline;
    text-align: center;
}

h3, h4, h5, h6 {
    margin-bottom: 0px;
    text-align: center;
}

select {
    color: #e8e6e3;
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(23, 25, 33);
}

.location-image-header {
    width: 90%;
    border-radius: 10px;
    display: block;
    max-width: 1000px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-top: auto;
}

.location-image-footer {
    width: 45%;
    border-radius: 10px;
    display: block;
    max-width: 400px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-top: 2px;
}

.location-image-footer-div {
    width: 90%;
    justify-content: space-around;
    max-width: 1000px;
    display: flex;
    margin-right: auto;
    flex-wrap: wrap;
    margin-left: auto;
}

.location-image-map-preview {
    width: 50%;
    border-radius: 10px;
    display: block;
    max-width: 500px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-top: auto;
}