html {
    background-color: rgb(23, 25, 33);
    color: #e8e6e3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 10px;
}

article > p {
    padding: 10px;
    text-align: left;
}

footer {
    background-color: rgb(23, 25, 33);
    bottom: 0;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
}

table {
    background-color: #2f3139;
    border-radius: 10px;
    border-spacing: 20px 5px;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    margin: 8px;
    padding: 10px;
}

tbody {
    border-collapse: collapse;
    border: 1px;
}

progress {
    border-radius: 10px;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    margin: auto 1px;
    width: 90%;
}

progress::-webkit-progress-bar {
    background-color: #e8e6e3;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #FFB6C1;
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background-color: #FFB6C1;
    border-radius: 10px;
}

q {
    font-style: italic;
}

time {
    font-weight: bold;
}

del {
    color: #464544;
    font-style: italic;
    text-decoration-color: #e8e6e3;
}

fieldset {
    background-color: #2f3139;
    border-color: #e8e6e3;
    border-radius: 10px;
    border-width: 2.5px;
    display: inline-flex;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    flex-basis: max-content;
    flex-wrap: wrap;
    justify-self: center;
    margin: 10px 5px;
    min-width: 100px;
}

fieldset > legend {
    text-decoration: underline;
}

fieldset > p {
    margin-bottom: 2px;
    margin-top: 2px;
}

ul {
    padding-left: 20px;
}

img {
    border-radius: 10px;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    margin: 10px;
}

.generic-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center {
    text-align: center;
}

.button {
    background-color: #2f3139;
    border-radius: 6px;
    border: none;
    color: #e8e6e3;
    cursor: pointer;
    display: inline-block;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    font-size: 1.2em;
    margin: 8px 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.button:hover {
    background-color: #23252c;
    transition: 0.1s;
}

.button:active {
    background-color: rgb(23, 25, 33);
}

button {
    background-color: #2f3139;
    border-radius: 6px;
    border: none;
    color: #e8e6e3;
    cursor: pointer;
    display: inline-block;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    font-size: 1.2em;
    margin: 8px 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

button:hover {
    background-color: #23252c;
    transition: 0.1s;
}

button:active {
    background-color: rgb(23, 25, 33);
}

input {
    background-color: #2f3139;
    border-radius: 6px;
    border: none;
    color: #e8e6e3;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    padding: 5px;
}

.table-center {
    margin: 10px auto;
    text-align: left;
}

icon-display {
    margin: auto;
    max-width: 500px;
    width: 50%;
}

.flex-container {
    align-items: normal;
    display: flex;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    flex-wrap: wrap;
    justify-content: center;
}

.flex-contained-container {
    display: flex;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    flex-wrap: wrap;
    justify-content: center;
}

.flex-element {
    background: #23252c;
    border-radius: 10px;
    display: inline-block;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    margin: 20px;
    max-width: 500px;
    min-width: 300px;
    padding: 10px;
    width: 30%;
}

.author-div {
    background-color: #23252c;
    border-radius: 900px;
    display: flex;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    flex-basis: auto;
    flex-wrap: nowrap;
    flex: content;
    justify-content: left;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 350px;
}

.author-picture {
    align-self: center;
    border-radius: 100px;
    display: inline-block;
    flex: content;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    max-width: 48px;
    min-width: 32px;
}

.author-name-div {
    align-self: center;
    color: Gainsboro;
    display: inline-block;
    flex: content;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 50%;
}

.content-box {
    background-color: #23252c;
    border-radius: 20px;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    margin: 30px auto;
    max-width: 1000px;
    padding: 5px;
    width: 100%;
}

.location-deprecation-notice-header {
    color: #FF3333;
}

.location-deprecation-notice-div {
    background-color: #ffffb3;
    border-radius: 10px;
    color: #000000;
    padding: 10px;
}

.top-page-header {
    background-color: #23252c;
    height: 72px;
    left: 0px;
    margin: auto;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
}

.bottom-page-footer {
    background-color: #23252c;
    bottom: -10px;
    height: 55px;
    left: 0px;
    margin: auto;
    position: fixed;
    text-align: center;
    width: 100%;
}

a:link {
    color: #FFB6C1;
    text-decoration: none;
}

a:visited {
    color: #FFB6C1;
    text-decoration: none;
}

a:hover {
    color: #FFC1CA;
    text-decoration: underline;
}

a:active {
    color: #FFD7DD;
    text-decoration: underline;
}

.map-element {
    display: inline;
    outline-color: #FFB6C1;
}

.div-outer {
    display: table;
    height: calc(100vh - 72px - 45px - 10px);
    left: 0;
    position: absolute;
    top: 77px;
    width: 100%;
}

.div-middle {
    display: table-cell;
    vertical-align: middle;
}

.div-inner {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.news-div-class {
    display: block;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    padding: 10px;
    width: 75%;
}

.newsfeed-element {
    background-color: #23252c;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    margin: 20px auto 30px auto;
}

.newsfeed-element-picture {
    max-height: 8em;
}

.newsfeed-element-segment-header {
}

.newsfeed-element-segment-body {
    display: flex;
    flex-wrap: wrap-reverse;
}

.newsfeed-element-segment-text {
}

.newsfeed-element-segment-picture {
}

.newsfeed-element-relevancy-generic {
    border-color: #e8e6e3;
}

.newsfeed-element-relevancy-holiday {
    border-color: #3399FF;
}

.newsfeed-element-relevancy-warning {
    border-color: #FFFF33;
}

.newsfeed-element-relevancy-alert {
    border-color: #FF3333;
}

.newsfeed-element-relevancy-happened {
    border-color: #2f3139;
}

.article-preview {
    background-color: #23252c;
    border-color: #e8e6e3;
    border-style: solid;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    flex: content;
    padding: 10px;
    text-align: center;
}

.article-preview-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: stretch;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h1, h2 {
    margin-bottom: 0px;
    text-align: center;
    text-decoration: underline;
}

h3, h4, h5, h6 {
    margin-bottom: 0px;
    text-align: center;
}

select {
    background-color: #2f3139;
    border-radius: 10px;
    border-style: none;
    color: #e8e6e3;
    filter: drop-shadow(-2.5px -2.5px 2.5px rgba(0, 0, 0, 0.2)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    margin: 8px 4px;
    padding: 4px 8px;
    transition: 0.3s;
}

select:hover {
    background-color: #23252c;
    transition: 0.1s;
}

.autocomplete {
    display: inline-block;
    position: relative;
}

.autocomplete-items {
    background-color: #23252c;
    border: 2px solid #2f3139;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99;
}

.autocomplete-active {
    background-color: #2f3139 !important;
}

.autocomplete-floating-island {
    background-color: #23252c;
    border-color: #2f3139;
    border-radius: 10px;
    border-width: 5px;
    margin-top: 10px;
    padding: 5px;
    position: fixed;
    z-index: 98;
}

.autocomplete-search-bar {
    max-width: 600px;
    min-width: 200px;
    width: 50%;
}

.autocomplete-items div {
    background-color: #23252c;
    cursor: pointer;
    padding: 10px;
}

.autocomplete-items div:hover {
    background-color: #2f3139;
}

.location-image-header {
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    max-width: 1000px;
    width: 90%;
}

.location-image-footer {
    border-radius: 10px;
    display: block;
    margin: 20px 5px;
    max-width: 400px;
    width: 45%;
}

.location-image-footer-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 90%;
}

.location-image-map-preview {
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    max-width: 500px;
    width: 50%;
}